// ** Variables__
//             __font-family
$fntFam: 'Open Sans', sans-serif;
$colorTitle1: rgba(26,215,153,1);
$colorTitle2:rgba(255, 255, 255,1);
$colorText:rgba(255, 255, 255,.7);
$colorText2:rgba(47,235,226,1);

//              __background
$bgd-row1: linear-gradient(to right, rgba(26,215,153,1) 0%, rgba(47,235,226,1) 100%);
$bgd-row2: rgba(34,37,44,1);
$bgd-row3: rgba(49,55,65,1);
$bgd-icon:rgb(50, 60, 70,0.9)
