
//Цвета
$body-bgd:whitesmoke;
$area-bgd:rgb(65,68,68);
$area-color:whitesmoke;
$select-bgd:rgb(59, 51, 51);
$select-color:whitesmoke;
$table-head-bgd:rgb(59,51,51);
$table-head-color:whitesmoke;
$icon-bgd:rgba(59,51,51,1);
$icon-color:whitesmoke;
$addrow-bgd:rgba(59,51,51,1);
$addrow-color:whitesmoke;
$calc-bgd:rgba(59,51,51,1);
$calc-color:whitesmoke;
$result-color:rgb(218, 215, 50);

//