// @import "../scss/fontawesome.scss";
// @import "../scss/solid.scss";
// @import "../scss/regular.scss";
@import "font.scss";
@import "./_variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

// :root{--yellow:black;}
body {
  background:  $body-bgd;
}
.container {
  width: 600px;
  min-width: 300px;
  margin: 0 auto;
  margin-top: 50px;
  font-family: "RobotoRegular";
  

  h2 {

    text-align: center;
    margin-bottom: 20px;
    // border:1px solid red;


  }

  //Блок задания геометрических характеристик

  fieldset {
    border-radius: 10px;
    margin-bottom: 10px;

    legend {
      margin-left: 20px;
      font-style: italic;
    }
  }

  .area_wrapper {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: "RobotoLight";

    .area,
    .height,
    .maxArea {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-bottom: 20px;
      padding: 10px 0px;
      background-color: $area-bgd;
      color: $area-color;
      border-radius: 10px;
      position: relative;
    }


    span {
      // display: block;
      width: 70%;
      height: auto;
    }

    input {
      width: 120px;
      height: 25px;
      margin-left: 5%;
      padding-left: 5px;
    }
  }


  //Выбор материалов
  .material-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding: 10px 0px;
    background-color: $select-bgd;
    font-family: "RobotoLight";
    color: $select-color;
    margin-top: 10px;
    // border-radius: 10px;

  }

  //Таблица материалов
  .table {
    width: 100%;
    height: 100%;
    margin: 20px 0px;
    display: flex;
    flex-flow: column;

    .head {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .cells {
      text-align: center;
      border: 1px solid white;
      height: auto;
      // border: 1px solid red;
    }

    &-head {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      color: $table-head-color;
      font-family: "RobotoLight";
      font-size: 16px;
      background-color: $table-head-bgd;

      .cells {
        padding: 2px 0;
        border: 1px solid white;

        &:first-child {
          width: 50%;

        }

        &:nth-child(2) {
          width: 25%;
        }

        &:last-child {
          width: 25%;
        }
      }
    }

    &-row {
      position: relative;
      width: 100%;
      z-index: 0;

      // background-color: aquamarine;
      .row {
        display: flex;
        // justify-content: center;
        position: relative;
        width: 100%;
        height: 25px;
        margin-top: 2px;

        .cells {
          border: 1px solid rgb(65, 68, 68);
          color: black;

          &:first-child {
            width: 50%;

          }

          &:nth-child(2) {
            width: 25%;

          }

          &:nth-child(3) {
            width: 25%;
          }
        }

        .input {
          width: 100%;
          height: auto;
          font-family: "RobotoLight";
          font-size: 16px;
          outline-style: none;
          border-style: none;
          padding-left: 5px;
        }
      }
    }


  }



  [name="material"] {
    width: 180px;
    height: 25px;
    margin-left: 10px;

    option {
      font-family: inherit;
      font-size: 14px;
    }
  }

  #addMaterial {
    width: 80px;
    height: 25px;
  }

  #addRow {
    width: 40px;
    height: 30px;
    background-color: $addrow-bgd;
    color: $addrow-color;
    position: absolute;
    bottom: -40px;
    right: 0px;
    font-size: 16px;
    padding: 2px 0px;
    transition: all 0.5s;
    font-family: "RobotoBold";
    cursor: pointer;
    &:hover {
      transition: all 0.5s;
      color: $calc-bgd;
      box-shadow: inset 40px 30px 0 0 whitesmoke ;
     
    }
  }


  .icon {
    display: flex;
    justify-content: center;
    border: 1px solid white;
    background-color: $icon-bgd;
    color: $icon-color;
    min-width: 25px;
    min-height: 20px;
    border-radius: 5px;



    &:hover {
      background-color: rgb(241, 245, 245);
      border: 1px solid rgb(65, 68, 68);
      transition: all 0.3s;
    }

    i {
      position: relative;
      z-index: 1;
      margin: 2px;
      font-size: 14px;
    }

  }

  #add,
  [name="add"] {
    position: absolute;
    top: 2px;
    right: -30px;
    color: rgb(76, 211, 76);
    z-index: 10;
    font-family: "RobotoLight";

    cursor: pointer;
  }

  #delete,
  [name="delete"] {
    position: absolute;
    top: 2px;
    right: -60px;
    color: rgb(255, 2, 2);
    z-index: 10;
    font-family: "RobotoLight";
    cursor: pointer;
   
  }

  #result {
    width: 60px;
    height: 30px;
    margin-top: 10px;
    font-size: 16px;
    font-family: "RobotoLight";
    background-color: $calc-bgd;
    color:$calc-color;
    transition: all 0.5s;
    cursor: pointer;

    &:hover {
      transition: all 0.5s;
      color: $calc-bgd;
      box-shadow: inset 60px 30px 0 0 whitesmoke ;
    }
  }

  .result-wrapper {
    display: block;
    width: 100%;
    height: auto;
    margin: 10px 0px;
    background-color: rgb(105, 105, 103);
    color: whitesmoke;

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 10px;

      span {
        color: $result-color;
        font-style: italic;
        padding-right: 10px;
      }
    }
  }

  .tooltip {
    // display: none;   
    position: absolute;
    top: 0;
    right: -220px;
    padding: 2px;
    width: 200px;
    height: auto;
    font-size: 12px;
    background-color: rgb(130, 138, 138);
    color: $result-color;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    transition: all 0.5s;
    opacity: 0;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 5px;
  }


  // #area:hover +.tooltip{
  //   display: inline-block;
  //   opacity: 1;
  // }

  .active {
    display: inline-block;
    opacity: 1;
    transition: opacity 0.7s;
  }
 

}


