@font-face {
  font-family: "RobotoRegular";
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "RobotoBold";
  src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: "RobotoLight";
  src: url(../fonts/Roboto-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: whitesmoke;
}

.container {
  width: 600px;
  min-width: 300px;
  margin: 0 auto;
  margin-top: 50px;
  font-family: "RobotoRegular";
}
.container h2 {
  text-align: center;
  margin-bottom: 20px;
}
.container fieldset {
  border-radius: 10px;
  margin-bottom: 10px;
}
.container fieldset legend {
  margin-left: 20px;
  font-style: italic;
}
.container .area_wrapper {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: "RobotoLight";
}
.container .area_wrapper .area,
.container .area_wrapper .height,
.container .area_wrapper .maxArea {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px 0px;
  background-color: #414444;
  color: whitesmoke;
  border-radius: 10px;
  position: relative;
}
.container .area_wrapper span {
  width: 70%;
  height: auto;
}
.container .area_wrapper input {
  width: 120px;
  height: 25px;
  margin-left: 5%;
  padding-left: 5px;
}
.container .material-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  padding: 10px 0px;
  background-color: #3b3333;
  font-family: "RobotoLight";
  color: whitesmoke;
  margin-top: 10px;
}
.container .table {
  width: 100%;
  height: 100%;
  margin: 20px 0px;
  display: flex;
  flex-flow: column;
}
.container .table .head {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .table .cells {
  text-align: center;
  border: 1px solid white;
  height: auto;
}
.container .table-head {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  color: whitesmoke;
  font-family: "RobotoLight";
  font-size: 16px;
  background-color: #3b3333;
}
.container .table-head .cells {
  padding: 2px 0;
  border: 1px solid white;
}
.container .table-head .cells:first-child {
  width: 50%;
}
.container .table-head .cells:nth-child(2) {
  width: 25%;
}
.container .table-head .cells:last-child {
  width: 25%;
}
.container .table-row {
  position: relative;
  width: 100%;
  z-index: 0;
}
.container .table-row .row {
  display: flex;
  position: relative;
  width: 100%;
  height: 25px;
  margin-top: 2px;
}
.container .table-row .row .cells {
  border: 1px solid #414444;
  color: black;
}
.container .table-row .row .cells:first-child {
  width: 50%;
}
.container .table-row .row .cells:nth-child(2) {
  width: 25%;
}
.container .table-row .row .cells:nth-child(3) {
  width: 25%;
}
.container .table-row .row .input {
  width: 100%;
  height: auto;
  font-family: "RobotoLight";
  font-size: 16px;
  outline-style: none;
  border-style: none;
  padding-left: 5px;
}
.container [name=material] {
  width: 180px;
  height: 25px;
  margin-left: 10px;
}
.container [name=material] option {
  font-family: inherit;
  font-size: 14px;
}
.container #addMaterial {
  width: 80px;
  height: 25px;
}
.container #addRow {
  width: 40px;
  height: 30px;
  background-color: #3b3333;
  color: whitesmoke;
  position: absolute;
  bottom: -40px;
  right: 0px;
  font-size: 16px;
  padding: 2px 0px;
  transition: all 0.5s;
  font-family: "RobotoBold";
  cursor: pointer;
}
.container #addRow:hover {
  transition: all 0.5s;
  color: #3b3333;
  box-shadow: inset 40px 30px 0 0 whitesmoke;
}
.container .icon {
  display: flex;
  justify-content: center;
  border: 1px solid white;
  background-color: #3b3333;
  color: whitesmoke;
  min-width: 25px;
  min-height: 20px;
  border-radius: 5px;
}
.container .icon:hover {
  background-color: #f1f5f5;
  border: 1px solid #414444;
  transition: all 0.3s;
}
.container .icon i {
  position: relative;
  z-index: 1;
  margin: 2px;
  font-size: 14px;
}
.container #add,
.container [name=add] {
  position: absolute;
  top: 2px;
  right: -30px;
  color: #4cd34c;
  z-index: 10;
  font-family: "RobotoLight";
  cursor: pointer;
}
.container #delete,
.container [name=delete] {
  position: absolute;
  top: 2px;
  right: -60px;
  color: #ff0202;
  z-index: 10;
  font-family: "RobotoLight";
  cursor: pointer;
}
.container #result {
  width: 60px;
  height: 30px;
  margin-top: 10px;
  font-size: 16px;
  font-family: "RobotoLight";
  background-color: #3b3333;
  color: whitesmoke;
  transition: all 0.5s;
  cursor: pointer;
}
.container #result:hover {
  transition: all 0.5s;
  color: #3b3333;
  box-shadow: inset 60px 30px 0 0 whitesmoke;
}
.container .result-wrapper {
  display: block;
  width: 100%;
  height: auto;
  margin: 10px 0px;
  background-color: #696967;
  color: whitesmoke;
}
.container .result-wrapper div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}
.container .result-wrapper div span {
  color: #dad732;
  font-style: italic;
  padding-right: 10px;
}
.container .tooltip {
  position: absolute;
  top: 0;
  right: -220px;
  padding: 2px;
  width: 200px;
  height: auto;
  font-size: 12px;
  background-color: #828a8a;
  color: #dad732;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  transition: all 0.5s;
  opacity: 0;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 5px;
}
.container .active {
  display: inline-block;
  opacity: 1;
  transition: opacity 0.7s;
}

/*# sourceMappingURL=style.css.map */
