* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    max-width: 1200px;
    // width: 100%;
    height: 400px;
    // border: 1px solid red;
    margin: 0 auto;
   
  }

  .container {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
  }

.resultShow {    
    width: 300px;
    height: 200px;
    border: 1px solid black;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span {
        
        background-color: white;
       
    }
         
   

}

.rangeWrapper {
    display: flex;
    width: 90%;
    height: 120px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid;

    label {
        display: flex;
        align-items: center;        
        width: 300px;
        justify-content: space-between;
        // border: 1px solid green;
        span {
            display: block;
            position: relative;  
            text-align: center;
            min-width: 20%;            
            margin-left: 20px;
            // border: 1px solid red;         
        }
        input {
            display: inline-block;
            min-width: 70%; 
            
        }
    }
    #redS::before, #greenS::before, #blueS::before {   
        font-size: 12px;
        position: absolute;  
        min-width: 20px;
        text-align: center;       
        top: -20px;
        left: 20px;
        // border: 1px solid green;
        
    }
    #redS::after, #greenS::after, #blueS::after {   
        font-size: 12px;
        position: absolute;
        min-width: 22px;
        text-align: center;    
        top: 20px;
        left: 20px;
        // border: 1px solid salmon;
        
    }

    //устанавливаем пользовательский атрибут
    //потом с помощью JS к нему обратимся  
    #redS::before {
        content: attr(data-red);
    }

    #greenS::before {
        content: attr(data-green);
    }
    #blueS::before {
        content: attr(data-blue);
    }

    #redS::after {

        content: attr(data-red-percent);
    }

    #greenS::after {
        content: attr(data-green-percent);
    }
    #blueS::after {
        content: attr(data-blue-percent);
    }
}

#rangeR, #rangeG, #rangeB {
    margin: 30px 0;    
        
}

.btn {
    width: 60px;
    height: 30px;
    margin: 20px 0;
    font-size: 12px;
}

.colorWrapper {
    max-width: calc(50px * 7 + 6 * 1px);
    min-width: 52px;
    min-height: 52px;   
    // border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    span {
        flex: 1 0 100%;
        margin-bottom: 20px;
    }

    .colorCollection {
        width: 50px;
        height: 50px;
        border: 1px solid rgb(255, 255, 255);
        background-color: transparent;
        position: relative;

        .toolTipActive {
            display: inline;         
            position: absolute;
            text-align: center;
            width: 100px;
            top: -50%;
            left: -50%;
            // border: 1px solid red;
            background-color: white;
            color: rgb(185, 72, 7);
            font-size: 12px;
            font-style: italic;
        }

        .toolTipDeactive {
            display: none;
        }
    }

}