* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  position: relative;
}

.container {
  width: 50%;
  min-width: 300px;
  height: auto;
  margin-left: 50px;
  background: linear-gradient(to left, rgba(184, 76, 76, 0.8), #6088a8);
}
.container_title {
  text-align: center;
  width: 100%;
  min-width: 300px;
}
.container_table {
  width: 100%;
  min-width: 300px;
  height: auto;
  border-collapse: collapse;
}
.container_table tr:first-child {
  height: 30px;
  width: 100%;
}
.container_table th, .container_table td {
  border: 1px solid #4d4b4b;
  padding: 2px 0;
}
.container_table th input, .container_table td input {
  display: block;
  width: 90%;
  min-width: 120px;
  margin: auto;
  text-align: center;
  border-style: none;
}
.container_table td:first-child {
  width: 5%;
  min-width: 30px;
}
.container_table td:first-child span {
  display: block;
  text-align: center;
}
.container_table td:nth-child(2) {
  padding-left: 5px;
}

.table_climat caption {
  font-size: 18px;
  font-style: italic;
}
.table_climat td:nth-child(2) {
  width: 60%;
  min-width: 150px;
}
.table_climat td:nth-child(3),
.table_climat td:nth-child(4),
.table_climat td:nth-child(5) {
  width: 10%;
  min-width: 40px;
}
.table_climat td:nth-child(3) span,
.table_climat td:nth-child(4) span,
.table_climat td:nth-child(5) span {
  display: block;
  text-align: center;
}
.table_climat td:nth-child(3) input,
.table_climat td:nth-child(4) input,
.table_climat td:nth-child(5) input {
  width: 90%;
  min-width: 30px;
}
.table_climat tr:nth-child(2) td:nth-child(3) {
  width: 30%;
  min-width: 180px;
}
.table_climat tr:nth-child(2) td:nth-child(3) select {
  display: block;
  width: 90%;
  min-width: 140px;
  height: 20px;
  margin: 5px auto;
}
.table_climat option {
  padding-left: 5px;
}

.table_construction tr:nth-child(2) td:first-child {
  width: 70%;
  min-width: 140px;
  text-align: center;
}
.table_construction tr:nth-child(2) td:nth-child(2),
.table_construction tr:nth-child(2) td:nth-child(3) {
  padding: 3px;
  width: 15%;
  min-width: 60px;
}
.table_construction tr:not(:nth-child(1)) td:nth-child(2),
.table_construction tr:not(:nth-child(2)) td:nth-child(2) {
  width: 70%;
  min-width: 150px;
}
.table_construction tr:not(:nth-child(1)) td:nth-child(3),
.table_construction tr:not(:nth-child(1)) td:nth-child(4),
.table_construction tr:not(:nth-child(2)) td:nth-child(3),
.table_construction tr:not(:nth-child(2)) td:nth-child(4) {
  width: 15%;
  min-width: 60px;
}
.table_construction tr:not(:nth-child(1)) td:nth-child(3) input,
.table_construction tr:not(:nth-child(1)) td:nth-child(4) input,
.table_construction tr:not(:nth-child(2)) td:nth-child(3) input,
.table_construction tr:not(:nth-child(2)) td:nth-child(4) input {
  width: 90%;
  min-width: 40px;
}

.modal {
  display: block;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 1;
  margin: auto;
  transform: translate(-50%, -50%);
  width: 60%;
  min-width: 300px;
  height: auto;
  font-size: 14px;
  background: #464646;
  color: rgba(255, 255, 255, 0.8);
}
.modal_table {
  position: relative;
  width: 100%;
  min-width: 300px;
  height: auto;
  border-collapse: collapse;
}
.modal_table th, .modal_table td {
  border: 1px solid rgba(255, 255, 255, 0.7);
}
.modal_table tr:first-child td {
  display: inline-block;
  width: 100%;
  height: auto;
  word-wrap: break-word;
}
.modal_table tr {
  position: relative;
  height: 30px;
}
.modal_table input {
  display: block;
  margin: 2px auto;
  width: 90%;
  border-style: none;
}
.modal_table td:first-child {
  width: 5%;
  min-width: 30px;
  text-align: center;
}
.modal_table td:nth-child(2) {
  width: 50%;
  min-width: 150px;
}
.modal_table td:nth-child(3),
.modal_table td:nth-child(4),
.modal_table td:nth-child(5) {
  width: 15%;
  min-width: 45px;
}
.modal .button {
  width: 40px;
  height: 25px;
  outline-style: none;
  border-style: none;
  border: 2px solid #4d4b4b;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  font-size: 14px;
}
.modal .button span {
  width: 100%;
}
.modal .add {
  position: absolute;
  bottom: -60px;
  right: 0;
  color: rgba(0, 255, 0, 0.9);
}
.modal .delete {
  position: absolute;
  top: 3px;
  right: -45px;
  color: rgba(255, 0, 0, 0.8);
}
.modal button:hover {
  background: rgba(61, 58, 58, 0.7);
  transition: transform 0.1s;
}
.modal input {
  padding: 2px 5px;
}
.modal ::placeholder {
  font-size: 12px;
  font-style: italic;
}
.modal .summ {
  width: 100px;
  min-width: 45px;
  height: 30px;
  border: 2px solid #4d4b4b;
  position: absolute;
  bottom: -30px;
  right: 0;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  padding: 3px;
}

/*# sourceMappingURL=style.css.map */
