// @import "_variables";

$table-bgd1:rgba(184, 76, 76,0.8);
$table-bgd2:rgba(96, 136, 168,1);
$table-border: rgba(77, 75, 75,1);
$modal-bgd:rgb(70, 70, 70);
$modal-color:rgba(255,255,255,0.8);
$modal-border:rgba(255,255,255,0.7);
$modal-button-bgd:rgba(70,70,70,0.9);
$modal-button-bgd:rgba(255, 255, 255, 0.9);
$modal-color-btn-delete:rgba(255,0,0,0.8);
$modal-bgd-btn-delete:rgba(255,255,255,0.9);
$modal-color-btn-add:rgba(0,255,0,0.9);
$modal-bgd-btn-hover:rgba(61, 58, 58, 0.7);
$modal-color-summ:rgba(0,0,0,1);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  position: relative;
}

.container {
  width: 50%;
  min-width: 300px;
  height: auto;
  margin-left: 50px; 
  background: linear-gradient(to left,$table-bgd1,$table-bgd2);
  
  &_title {     
    text-align: center;
    width: 100%;
    min-width: 300px;
  }
  //стили таблиц
  &_table {       
    width: 100%;
    min-width: 300px;
    height: auto;   
    border-collapse: collapse; 
    
     tr:first-child {
      height: 30px; 
      width: 100%;     
    }

    th, td {
      border: 1px solid $table-border; 
      padding: 2px 0;    

      input {
        display: block;
        width: 90%;
        min-width: 120px;
        margin: auto;
        text-align: center;
        border-style: none;
      }
    }

    td:first-child {       
      width: 5%;
      min-width: 30px;
      span {
        display: block;        
        text-align: center;        
      }
    }
    
    td:nth-child(2) {
      padding-left: 5px;
    }
  }

 
}

//таблица климатических условий
.table {
  &_climat {
    caption {      
      font-size: 18px;
      font-style: italic;
      
    }
    
    td:nth-child(2) {
      width: 60%;
      min-width: 150px;
       
    }
     td:nth-child(3), 
     td:nth-child(4), 
     td:nth-child(5) {
       width: 10%;
       min-width: 40px;
       span {
        display: block;        
        text-align: center;        
      }

      input { 
        width: 90%;       
        min-width: 30px;
      }      
    }

    tr:nth-child(2){
       td:nth-child(3) {
         width: 30%;
         min-width: 180px;
         select {
           display: block;
           width: 90%;
          min-width: 140px;
          height: 20px;
          margin: 5px auto;
          
         }        
    }   
  }
  option {
    padding-left: 5px;
  }
  }
}

// таблица ограждающих конструкций
.table {
  &_construction {
    
    tr:nth-child(2) {
      td:first-child {
        width: 70%; 
        min-width: 140px; 
        text-align: center;            
      }

      td:nth-child(2),
      td:nth-child(3) {
        padding: 3px;        
        width: 15%;
        min-width: 60px;
      }      
    }
    tr:not(:nth-child(1)),
    tr:not(:nth-child(2)) {
     
      td:nth-child(2) {
        width: 70%;
        min-width: 150px;
      }
      td:nth-child(3),
      td:nth-child(4) {
        width: 15%;
        min-width: 60px;

        input {
          width: 90%;
          min-width: 40px
        }
      }

    }
  }

}
  .modal {
    display: block;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1;
    // overflow: auto;
    
    margin: auto;
    transform: translate(-50%,-50%);
    width: 60%;
    min-width: 300px;
    height: auto;
    font-size: 14px;
    background: $modal-bgd;
    color: $modal-color;

    &_table {
      position: relative;
      width: 100%;
      min-width: 300px;
      height: auto;   
      border-collapse: collapse; 
      th, td {
        border:1px solid $modal-border;
      }  

      tr:first-child td {
        display: inline-block;
        width: 100%;
        height: auto;
        word-wrap: break-word;
        
      }
      tr {
        position: relative;
        height: 30px;
      }  
      
      input {
        display: block;
        margin: 2px auto;
        width: 90%;
        border-style: none;
      }
      td:first-child{
        width: 5%;
        min-width: 30px;
        text-align: center;
      }
      td:nth-child(2) {
        width: 50%;
        min-width: 150px;
      }

      td:nth-child(3),
      td:nth-child(4),
      td:nth-child(5) {
        width: 15%;
        min-width: 45px;
      }
      
    }

    .button {
      width: 40px;
      height: 25px;
      outline-style: none;
      border-style: none;     
      border:2px solid $table-border;
      border-radius: 5px;
      background-color:$modal-button-bgd;
      color: $modal-color; 
      cursor: pointer; 
      font-size: 14px;
      
      span {        
        width: 100%;       
      }
      
    }
    .add {
      position: absolute;
      bottom: -60px;
      right: 0; 
      color:$modal-color-btn-add;      
    }

    .delete {
      position: absolute;
      top: 3px;
      right: -45px;
      color: $modal-color-btn-delete;
    }

    button:hover {
      background: $modal-bgd-btn-hover;
      // transform: scale(0.95,0.95);
      transition: transform 0.1s;
    }

    input {
      padding: 2px 5px;
    }
    ::placeholder {
      font-size: 12px;
      font-style: italic;
    }
    .summ {
      width: 100px;
      min-width: 45px;
      height: 30px;
      border:2px solid $table-border;
      position: absolute;
      bottom: -30px;
      right: 0;
      border-radius: 5px;
      background-color:$modal-button-bgd;
      color: $modal-color-summ; 
      padding: 3px;
    }
  }