@charset "UTF-8";
@media screen and (max-width: 1280px) {
  .header__title {
    margin: 20vw 5vw;
  }
  .header__title h1 {
    font-size: 9vw;
    font-weight: 400;
    user-select: none;
  }
  .header__title h2 {
    font-size: 6vw;
    font-weight: 400;
    user-select: none;
  }
  .header__title h4 {
    font-size: 3vw;
    font-weight: 400;
    user-select: none;
  }

  .container__title {
    font-size: 4vw;
  }
}
@media screen and (max-width: 990px) {
  .container__title {
    font-size: 4vw;
  }
}
@media screen and (max-width: 720px) {
  .header__social {
    justify-content: center;
    position: relative;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    z-index: 2;
  }
  .header__social::before {
    position: absolute;
    top: 10px;
    left: 15px;
    content: "╋";
    font-size: 20px;
    transition: transform 0.2s linear;
  }
  .header__social-active {
    border: transparent;
    background: rgba(50, 60, 70, 0.9);
    color: white;
    transition: transform 0.2s linear;
  }
  .header__social-active::before {
    transform-origin: 51% 54%;
    transform: rotate(135deg);
    transition: transform 0.2s linear;
  }
  .header__social:hover {
    border: transparent;
    background: rgba(50, 60, 70, 0.9);
    color: white;
    transition: all 0.2s linear;
  }
  .header__social a {
    position: absolute;
    z-index: 0;
    visibility: hidden;
  }
  .header__social-media {
    visibility: visible;
    transition: all 0.2s linear;
  }
  .header__social-media:nth-child(1) {
    transform: translateX(150%);
    transition: all 0.2s linear 0.1s;
  }
  .header__social-media:nth-child(2) {
    transform: translate(100%, 100%);
    transition: all 0.2s linear 0.2s;
  }
  .header__social-media:nth-child(3) {
    transform: translateY(150%);
    transition: all 0.3s linear 0.3s;
  }

  .aboutMe__photo {
    flex: 0 1 100%;
  }
  .aboutMe__photo-border {
    margin: auto;
  }
  .aboutMe__photo #download {
    margin: 100px auto;
  }
  .aboutMe__section_aboutMe {
    flex: 0 1 100%;
    margin: 0 30px 80px;
  }

  .container__title {
    font-size: 5vw;
  }
  .container__item1 h2, .container__item1_reverce h2 {
    font-size: 18px;
  }
  .container__item1 span, .container__item1_reverce span {
    font-size: 14px;
  }
  .container__item2 p, .container__item2_reverce p {
    font-style: 14px;
  }
}
@media screen and (max-width: 640px) {
  .header__title h4 {
    font-size: 3.5vw;
  }
  .header__nav_menu-active {
    right: 20px;
    width: 180px;
  }
  .header__nav_menu-active a {
    font-size: 16px;
  }

  .container__title {
    margin: 70px auto;
    font-size: 5vw;
  }
  .container__treeTop, .container__treeTrunkTop, .container__treeTrunk,
.container .center, .container__treeEnd {
    display: none;
  }
  .container__section {
    flex-direction: column;
    height: auto;
    margin-bottom: 50px;
  }
  .container__item1, .container__item2, .container__item1_reverce, .container__item2_reverce {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
  .container__item1_reverce {
    order: -1;
  }
  .container__item2_reverce {
    order: 1;
  }
  .container__item1, .container__item1_reverce {
    margin-top: 30px;
  }

  .contact__form div {
    width: 100% !important;
  }
}
@media screen and (max-width: 575px) {
  .container__title {
    font-size: 5vw;
  }

  .aboutMe__myInterests-icon div {
    width: 80px;
    height: 80px;
  }
  .aboutMe__myInterests-icon div i {
    font-size: 30px;
  }
  .aboutMe__myInterests-icon div .briefly {
    margin-left: calc(-100px + 40px);
  }
}
@media screen and (max-width: 375px) {
  .container__title {
    font-size: 7vw;
  }

  .aboutMe__section_aboutMe p {
    font-size: 14px;
  }
  .aboutMe__section_aboutMe h6, .aboutMe__section_aboutMe span {
    font-size: 14px;
  }
  .aboutMe__myInterests h2 {
    font-size: 18px;
  }

  .header__title h1 {
    font-size: 10vw;
  }
  .header__title h2 {
    font-size: 7vw;
  }
  .header__title h4 {
    font-size: 5vw;
  }
  .header__nav_menu-active {
    right: 20px;
    width: 140px;
  }
  .header__nav_menu-active a {
    font-size: 12px;
  }

  #up {
    width: 30px;
    height: 30px;
  }
  #up a i {
    left: 50%;
    margin-left: -6px;
    top: 50%;
    margin-top: -8px;
    font-size: 20px;
  }

  .footer p {
    font-size: 14px;
  }
}

/*# sourceMappingURL=media.css.map */
